.container {
    max-width: 800px;
    height: 100%;
}

.hometext {
    font-family: 'Kalam', cursive;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    color: aliceblue;
}

button,
input {
    border-radius: 12px;
}