ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.navBar {
  color: white;
  padding: 1.5rem 5rem;
  border-bottom: 1px solid #FFF;
  margin-bottom: 25px;
}

.navBar button {
  color: white;
  padding: 0.4rem 0.5rem;
}

.navBar button:hover {
  color: black;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}

.link {
  color: #FFF;
  text-decoration: none; 
}

.link:hover {
  color: #000; 
  text-decoration: none; 
}