ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background: slategray;
  color: white;
  padding: 1.5rem 5rem;
}

.navBar button {
  color: white;
  padding: 0.4rem 0.5rem;
}

.navBar button:hover {
  color: black;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}

.link {
  color: #FFF; /* change this to the desired font color */
  text-decoration: none; /* remove the underline */
}

.link:hover {
  color: #000; /* change this to the desired font color */
  text-decoration: none; /* remove the underline */
}